<!-- Color Palette -->
<h4>Brand</h4>
<ul class="color-palette">
  <li class="swatch-brand"></li>
</ul>
<h4>Brand Hues</h4>
<ul class="color-palette">
  <li class="swatch-brand-lightest"></li>
  <li class="swatch-brand-lighter"></li>
  <li class="swatch-brand-light"></li>
  <li class="swatch-brand"></li>
  <li class="swatch-brand-dark"></li>
  <li class="swatch-brand-darker"></li>
  <li class="swatch-brand-darkest"></li>
</ul>
<h4>Adjacent <small>3-colors</small></h4>
<ul class="color-palette">
  <li class="swatch-brand"></li>
  <li class="swatch-brand-adjacent-right"></li>
  <li class="swatch-brand-adjacent-left"></li>
</ul>
<h4>Triad <small>3-colors</small></h4>
<ul class="color-palette">
  <li class="swatch-brand"></li>
  <li class="swatch-triad-right"></li>
  <li class="swatch-triad-left"></li>
</ul>
<h4>Tetrad <small>4-colors</small></h4>
<ul class="color-palette">
  <li class="swatch-brand"></li>
  <li class="swatch-tetrad-center"></li>
  <li class="swatch-tetrad-left"></li>
  <li class="swatch-tetrad-right"></li>
</ul>
<h4>Full <small>6-colors</small></h4>
<ul class="color-palette">
  <li class="swatch-brand-adjacent-left"></li>
  <li class="swatch-brand"></li>
  <li class="swatch-tetrad-center"></li>
  <li class="swatch-triad-left"></li>
  <li class="swatch-brand-compliment"></li>
  <li class="swatch-triad-right"></li>
</ul>