<!-- Color Palette -->
<h4>Brand</h4>
<ul class="color-palette">
  <li class="swatch-brand"></li>
</ul>
<h4>Brand Hues</h4>
<ul class="color-palette">
  <li class="swatch-brand-lightest"></li>
  <li class="swatch-brand-lighter"></li>
  <li class="swatch-brand-light"></li>
  <li class="swatch-brand"></li>
  <li class="swatch-brand-dark"></li>
  <li class="swatch-brand-darker"></li>
  <li class="swatch-brand-darkest"></li>
</ul>
<h4>Complimentary</h4>
<ul class="color-palette">
	<li class="swatch-brand"></li>
  <li class="swatch-brand-compliment"></li>
  <li class="swatch-brand-compliment-adjacent-left"></li>
  <li class="swatch-brand-compliment-adjacent-right"></li>
</ul>
<h4>Adjacent</h4>
<ul class="color-palette">
  <li class="swatch-brand-adjacent"></li>
  <li class="swatch-brand-adjacent-right"></li>
</ul>